In [11]:
#1. Perform the following operations using Python on the Facebook metrics data sets
#a. Create data subsets 
#b. Merge Data
#c. TransposingData
import pandas as pd
import numpy as np
df = pd.read_csv("/Users/pradnyakamble/Downloads/dataset_Facebook.csv", sep = ";")
df.describe()

In [2]:
df.shape

(500, 19)

In [12]:
# A. CREATE DATA SUBSETS
# Creating subset using loc() and iloc() function
# No. of likes V/s the No. of shares for the first 5 posts
df_subset1=df.loc[0:4, ['like', 'share']] 
print('\n-------------------------- df_subset1 --------------------------\n')
print(df_subset1)

-------------------------- df_subset1 --------------------------

In [4]:
df_subset2=df.iloc[[0, 1, 2, 3, 4], [16, 17]]
print('\n-------------------------- df_subset2 --------------------------\n')
print(df_subset2)

-------------------------- df_subset2 --------------------------

     like  share
0    79.0   17.0
1   130.0   29.0
2    66.0   14.0
3  1572.0  147.0
4   325.0   49.0

In [5]:
# B. MERGE DATA
# Creating a dataframe that has the like to share ratio of every post and status
df_subset3=df['like'].div(df['share']).to_frame('like-share ratio')
print('\n-------------------------- df_subset3 --------------------------\n')
print(df_subset3)

-------------------------- df_subset3 --------------------------

     like-share ratio
0            4.647059
1            4.482759
2            4.714286
3           10.693878
4            6.632653
..                ...
495          2.038462
496          2.409091
497          5.166667
498          2.394737
499          3.250000

[500 rows x 1 columns]

In [6]:
# D. TRANSPOSING DATA
# Creating a transpose of the dataframe using transpose() function
df_transposed=df.transpose()
print('\n-------------------------- df_transposed --------------------------\n')
print(df_transposed)

-------------------------- df_transposed --------------------------

                                                       0       1       2    \
Page total likes                                    139441  139441  139441
Type                                                 Photo  Status   Photo
Category                                                 2       2       3
Post Month                                              12      12      12
Post Weekday                                             4       3       3
Post Hour                                                3      10       3
Paid                                                   0.0     0.0     0.0
Lifetime Post Total Reach                             2752   10460    2413
Lifetime Post Total Impressions                       5091   19057    4373
Lifetime Engaged Users                                 178    1457     177
Lifetime Post Consumers                                109    1361     113
Lifetime Post Consumptions                             159    1674     154
Lifetime Post Impressions by people who have li...    3078   11710    2812
Lifetime Post reach by people who like your Page      1640    6112    1503
Lifetime People who have liked your Page and en...     119    1108     132
comment                                                  4       5       0
like                                                  79.0   130.0    66.0
share                                                 17.0    29.0    14.0
Total Interactions                                     100     164      80

                                                       3       4       5    \
Page total likes                                    139441  139441  139441
Type                                                 Photo   Photo  Status
Category                                                 2       2       2
Post Month                                              12      12      12
Post Weekday                                             2       2       1
Post Hour                                               10       3       9
Paid                                                   1.0     0.0     0.0
Lifetime Post Total Reach                            50128    7244   10472
Lifetime Post Total Impressions                      87991   13594   20849
Lifetime Engaged Users                                2211     671    1191
Lifetime Post Consumers                                790     410    1073
Lifetime Post Consumptions                            1119     580    1389
Lifetime Post Impressions by people who have li...   61027    6228   16034
Lifetime Post reach by people who like your Page     32048    3200    7852
Lifetime People who have liked your Page and en...    1386     396    1016
comment                                                 58      19       1
like                                                1572.0   325.0   152.0
share                                                147.0    49.0    33.0
Total Interactions                                    1777     393     186

                                                       6       7       8    \
Page total likes                                    139441  139441  139441
Type                                                 Photo   Photo  Status
Category                                                 3       3       2
Post Month                                              12      12      12
Post Weekday                                             1       7       7
Post Hour                                                3       9       3
Paid                                                   1.0     1.0     0.0
Lifetime Post Total Reach                            11692   13720   11844
Lifetime Post Total Impressions                      19479   24137   22538
Lifetime Engaged Users                                 481     537    1530
Lifetime Post Consumers                                265     232    1407
Lifetime Post Consumptions                             364     305    1692
Lifetime Post Impressions by people who have li...   15432   19728   15220
Lifetime Post reach by people who like your Page      9328   11056    7912
Lifetime People who have liked your Page and en...     379     422    1250
comment                                                  3       0       0
like                                                 249.0   325.0   161.0
share                                                 27.0    14.0    31.0
Total Interactions                                     279     339     192

                                                       9    ...    490    491  \
Page total likes                                    139441  ...  85979  85979
Type                                                 Photo  ...  Photo  Photo
Category                                                 3  ...      3      3
Post Month                                              12  ...      1      1
Post Weekday                                             6  ...      6      6
Post Hour                                               10  ...     11      3
Paid                                                   0.0  ...    0.0    1.0
Lifetime Post Total Reach                             4694  ...   5280   6184
Lifetime Post Total Impressions                       8668  ...   8703  10228
Lifetime Engaged Users                                 280  ...    951    956
Lifetime Post Consumers                                183  ...    911    901
Lifetime Post Consumptions                             250  ...   1237   1140
Lifetime Post Impressions by people who have li...    4309  ...   5757   6085
Lifetime Post reach by people who like your Page      2324  ...   3300   3502
Lifetime People who have liked your Page and en...     199  ...    431    437
comment                                                  3  ...      1      1
like                                                 113.0  ...   79.0  105.0
share                                                 26.0  ...   30.0   46.0
Total Interactions                                     142  ...    110    152

                                                      492    493    494  \
Page total likes                                    85979  85093  85093
Type                                                 Link  Photo  Photo
Category                                                1      3      3
Post Month                                              1      1      1
Post Weekday                                            5      1      7
Post Hour                                              11      2     10
Paid                                                  0.0    0.0    0.0
Lifetime Post Total Reach                           45920   8412   5400
Lifetime Post Total Impressions                      5808  13960   9218
Lifetime Engaged Users                                753   1179    810
Lifetime Post Consumers                               655   1111    756
Lifetime Post Consumptions                            763   1632   1003
Lifetime Post Impressions by people who have li...  15766   8632   5654
Lifetime Post reach by people who like your Page    10720   5348   3230
Lifetime People who have liked your Page and en...    220    699    422
comment                                                 0     17     10
like                                                128.0  185.0  125.0
share                                                 9.0   55.0   41.0
Total Interactions                                    137    257    176

                                                      495    496    497  \
Page total likes                                    85093  81370  81370
Type                                                Photo  Photo  Photo
Category                                                3      2      1
Post Month                                              1      1      1
Post Weekday                                            7      5      5
Post Hour                                               2      8      2
Paid                                                  0.0    0.0    0.0
Lifetime Post Total Reach                            4684   3480   3778
Lifetime Post Total Impressions                      7536   6229   7216
Lifetime Engaged Users                                733    537    625
Lifetime Post Consumers                               708    508    572
Lifetime Post Consumptions                            985    687    795
Lifetime Post Impressions by people who have li...   4750   3961   4742
Lifetime Post reach by people who like your Page     2876   2104   2388
Lifetime People who have liked your Page and en...    392    301    363
comment                                                 5      0      4
like                                                 53.0   53.0   93.0
share                                                26.0   22.0   18.0
Total Interactions                                     84     75    115

                                                      498    499
Page total likes                                    81370  81370
Type                                                Photo  Photo
Category                                                3      2
Post Month                                              1      1
Post Weekday                                            4      4
Post Hour                                              11      4
Paid                                                  0.0    NaN
Lifetime Post Total Reach                            4156   4188
Lifetime Post Total Impressions                      7564   7292
Lifetime Engaged Users                                626    564
Lifetime Post Consumers                               574    524
Lifetime Post Consumptions                            832    743
Lifetime Post Impressions by people who have li...   4534   3861
Lifetime Post reach by people who like your Page     2452   2200
Lifetime People who have liked your Page and en...    370    316
comment                                                 7      0
like                                                 91.0   91.0
share                                                38.0   28.0
Total Interactions                                    136    119

[19 rows x 500 columns]

In [7]:
# E. SHAPE AND RESHAPE DATA
# Shape of the dataframe
df_shape=df.shape
print('\n-------------------------- df_shape --------------------------\n')
print(df_shape)
# Reshape the dataframe using pivot() function
# Shows the relationship between the Type of Post and the No. of likes
df_reshape=df.pivot(columns='Type', values='like')
print('\n-------------------------- df_reshape --------------------------\n')
print(df_reshape)

-------------------------- df_shape --------------------------

(500, 19)

-------------------------- df_reshape --------------------------

Type  Link   Photo  Status  Video
0      NaN    79.0     NaN    NaN
1      NaN     NaN   130.0    NaN
2      NaN    66.0     NaN    NaN
3      NaN  1572.0     NaN    NaN
4      NaN   325.0     NaN    NaN
..     ...     ...     ...    ...
495    NaN    53.0     NaN    NaN
496    NaN    53.0     NaN    NaN
497    NaN    93.0     NaN    NaN
498    NaN    91.0     NaN    NaN
499    NaN    91.0     NaN    NaN

[500 rows x 4 columns]

In [8]:
# C. SORT DATA
# Sorting rows according to Page total likes, Type and then like
df_sorted=df.sort_values(by=['Page total likes', 'Type', 'like'], ascending=False)
print('\n-------------------------- df_sorted --------------------------\n')
print(df_sorted)

-------------------------- df_sorted --------------------------

     Page total likes    Type  Category  Post Month  Post Weekday  Post Hour  \
10             139441  Status         2          12             5         10
8              139441  Status         2          12             7          3
5              139441  Status         2          12             1          9
1              139441  Status         2          12             3         10
3              139441   Photo         2          12             2         10
..                ...     ...       ...         ...           ...        ...
495             85093   Photo         3           1             7          2
497             81370   Photo         1           1             5          2
498             81370   Photo         3           1             4         11
499             81370   Photo         2           1             4          4
496             81370   Photo         2           1             5          8

     Paid  Lifetime Post Total Reach  Lifetime Post Total Impressions  \
10    0.0                      21744                            42334
8     0.0                      11844                            22538
5     0.0                      10472                            20849
1     0.0                      10460                            19057
3     1.0                      50128                            87991
..    ...                        ...                              ...
495   0.0                       4684                             7536
497   0.0                       3778                             7216
498   0.0                       4156                             7564
499   NaN                       4188                             7292
496   0.0                       3480                             6229

     Lifetime Engaged Users  Lifetime Post Consumers  \
10                     4258                     4100
8                      1530                     1407
5                      1191                     1073
1                      1457                     1361
3                      2211                      790
..                      ...                      ...
495                     733                      708
497                     625                      572
498                     626                      574
499                     564                      524
496                     537                      508

     Lifetime Post Consumptions  \
10                         4540
8                          1692
5                          1389
1                          1674
3                          1119
..                          ...
495                         985
497                         795
498                         832
499                         743
496                         687

     Lifetime Post Impressions by people who have liked your Page  \
10                                               37849
8                                                15220
5                                                16034
1                                                11710
3                                                61027
..                                                 ...
495                                               4750
497                                               4742
498                                               4534
499                                               3861
496                                               3961

     Lifetime Post reach by people who like your Page  \
10                                              18952
8                                                7912
5                                                7852
1                                                6112
3                                               32048
..                                                ...
495                                              2876
497                                              2388
498                                              2452
499                                              2200
496                                              2104

     Lifetime People who have liked your Page and engaged with your post  \
10                                                3798
8                                                 1250
5                                                 1016
1                                                 1108
3                                                 1386
..                                                 ...
495                                                392
497                                                363
498                                                370
499                                                316
496                                                301

     comment    like  share  Total Interactions
10         0   233.0   19.0                 252
8          0   161.0   31.0                 192
5          1   152.0   33.0                 186
1          5   130.0   29.0                 164
3         58  1572.0  147.0                1777
..       ...     ...    ...                 ...
495        5    53.0   26.0                  84
497        4    93.0   18.0                 115
498        7    91.0   38.0                 136
499        0    91.0   28.0                 119
496        0    53.0   22.0                  75

[500 rows x 19 columns]

In [ ]:
#3. Perform the following operations using Python on the Air quality and Heart Diseases data sets
#a. Data cleaning
#b. Data integration
#c. Data transformation
import pandas as pd
import numpy as np
df1=pd.read_csv("AirQuality.csv", sep=";")
df1

In [ ]:
#a.data cleaning

df1.isnull().sum() #checking null values
droped_df1=df1.dropna() #droping null values
droped_df1.isnull().sum()

In [ ]:
df2=pd.read_csv("heart.csv")
df2

In [ ]:
cleaned_df2 = df2.isnull().sum() #checking null values
cleaned_df2

In [ ]:
#b.DATA Integration

df3=df2[['age','sex','trestbps','chol']].loc[0:20]
df3

In [ ]:
df4=df2[['age','sex','trestbps','chol']].loc[21:40]
df4

In [ ]:
integrated_df=pd.concat([df3,df4])
integrated_df

In [ ]:
#c. Data Transformation

df2.loc[df2['sex']==1, 'sex']='M' #replacing 1 with M

df2.loc[df2['sex']==0, 'sex']='F' #replacing 0 with F

In [ ]:
df2.head()

In [ ]:
from sklearn.preprocessing  import LabelEncoder
labelencoder=LabelEncoder()
df2['sex']=labelencoder.fit_transform(df2['sex'])
df2      #used to encode categorical variables into numerical labels

In [ ]:
#Replacing the Object dtype of Date to Date dtype
df1['Date'] = pd.to_datetime(df1['Date'])

#To Replace the Comma's with Dot
df1.replace(to_replace=',',value='.', regex=True, inplace=True)
df1

In [ ]:
df1.head()

In [ ]:
#4. Perform the following operations using Python on the Air quality and Heart Diseases data sets
#a. Data transformation

In [ ]:
import pandas as pd #Python library used for working with data sets
import numpy as np #Python library used for working with arrays
import seaborn as sn # library for making statistical graphics in Python
import random as rn 
import matplotlib.pyplot as mat #used to create 2D graphs and plots by using python scripts
from sklearn.model_selection import train_test_split 
from sklearn.naive_bayes import GaussianNB,MultinomialNB
from sklearn.metrics import accuracy_score

In [ ]:
DataFrame1=pd.read_csv('heart.csv') #Read a comma-separated values (csv) file into DataFrame
DataFrame1

In [ ]:
DataFrame2=pd.read_csv('AirQuality.csv',sep=';') #Read a comma-separated values (csv) file into DataFrame
DataFrame2

In [ ]:
DataFrame1.isna().sum() #Detect missing values for an array-like object
#.sum() sums up the numbers in the list

In [ ]:
DataFrame1.loc[DataFrame1['sex']==1,'sex']='M' #Replacing 1 with M

In [ ]:
DataFrame1.loc[DataFrame1['sex']==0,'sex']='F' #Replacing 0 with F

In [ ]:
DataFrame1.head()

In [ ]:
from sklearn.preprocessing import LabelEncoder
labelencoder=LabelEncoder()
DataFrame1["sex"]=labelencoder.fit_transform(DataFrame1["sex"])
DataFrame1 #used to encode categorical variables into numerical labels that is transform

In [ ]:
#b.error correction
DataFrame1[DataFrame1['ca']==4]

In [ ]:
DataFrame1.loc[DataFrame1['ca']==4,'ca']=np.NaN  #It locates the rows where the value in the 'ca' column is equal to 4 and replaces those values with NaN (Not a Number)

In [ ]:
DataFrame1 = DataFrame1.fillna(DataFrame1.median())

In [ ]:
DataFrame1.isnull().sum()

In [ ]:
DataFrame1

In [ ]:
#model building
X_train, X_test, y_train, y_test = train_test_split(DataFrame1.iloc[:,:-1], DataFrame1.iloc[:,-1], test_size = 0.3, random_state = 0)

In [ ]:
X_train.shape, X_test.shape,y_train.shape

In [ ]:
gnb = GaussianNB()

In [ ]:
gnb.fit(X_train, y_train)
#fitting a Gaussian Naive Bayes (GNB) model on the training data

In [ ]:
y_pred = gnb.predict(X_test)
y_pred

In [ ]:
print('Model accuracy score: {0:0.4f}'. format(accuracy_score(y_test, y_pred)))

In [ ]:
#5. Visualize the data using Python libraries matplotlib, seaborn by plotting the graphs for the Air quality and Heart Diseases data sets
#a. Data cleaning b. Data integration

import pandas as pd #Python library used for working with data sets
import numpy as np #Python library used for working with arrays
import seaborn as sn # library for making statistical graphics in Python
import matplotlib.pyplot as mat #used to create 2D graphs and plots by using python scripts

In [ ]:
df1=pd.read_csv('D:/dsbda basic/DSBDA-Final-Problem-Statements-main/PS5/heart.csv')
df1.head()

In [ ]:
df2=pd.read_csv('D:/dsbda basic/DSBDA-Final-Problem-Statements-main/PS5/AirQuality.csv', sep=';')
df2.head()

In [ ]:
df3=df2.iloc[:,:15] #iloc stands for “integer location”.
#It is used to select rows and columns from a Pandas DataFrame or a Series using integer-based indexing

In [ ]:
df3

In [ ]:
#Replacing the Object dtype of Date to Date dtype
df4['Date']=pd.to_datetime(df4['Date'])

In [ ]:
#To Replace the Comma's with Dot
df4.replace(to_replace=',',value='.',regex=True,inplace=True)
df4

In [ ]:
df4.drop_duplicates(inplace=True)
df4 #Drop Duplicates

In [ ]:
#b.data integration
DataSet1=df4[['Date','Time','T','RH','AH']].loc[0:50]
DataSet1.head()

In [ ]:
DataSet2=df4[['Date','Time','T','RH','AH']].loc[51:100]
DataSet2.head()

In [ ]:
integrated=pd.concat([DataSet1,DataSet2])
integrated

In [ ]:
import matplotlib.pyplot as plt
plt.figure(figsize=(10, 6))
plt.subplot(2, 2, 1)  # Create a subplot (2 rows, 2 columns, subplot 1)
plt.hist(df1['age'], bins=10, edgecolor='k')
plt.xlabel('Age')
plt.ylabel('Frequency')
plt.title('Age Distribution')
plt.show()

In [ ]:
# Bar plot of sex
plt.subplot(2, 2, 2)  # Create a subplot (2 rows, 2 columns, subplot 2)
sex_counts = df1['sex'].value_counts()
plt.bar(sex_counts.index, sex_counts.values)
plt.xlabel('Sex (0 = female, 1 = male)')
plt.ylabel('Count')
plt.title('Gender Distribution')

In [ ]:
# Scatter plot of age and cholesterol
plt.subplot(2, 2, 3)  # Create a subplot (2 rows, 2 columns, subplot 3)
plt.scatter(df1['age'], df1['chol'], alpha=0.5)
plt.xlabel('Age')
plt.ylabel('Cholesterol')
plt.title('Age vs. Cholesterol')

In [ ]:
plt.subplot(2,2,4)
plt.boxplot([df1[df1['target']==0]['trestbps'],
           df1[df1['target']==1]['trestbps']],
           labels=['No Disease','Disease'])
plt.xlabel('Disease')
plt.ylabel('Restng Blood Pressure')
plt.title('Resting Blood Pressure by Target')

plt.tight_layout()

In [ ]:
# Scatter plot of NOx(GT) vs. NO2(GT)
plt.subplot(2, 2, 2)  # Create a subplot (2 rows, 2 columns, subplot 2)
plt.scatter(df2['NOx(GT)'], df2['NO2(GT)'], alpha=0.5)
plt.xlabel('NOx(GT)')
plt.ylabel('NO2(GT)')
plt.title('NOx(GT) vs. NO2(GT)')

In [ ]:
# Scatter plot of NO2(GT) vs. PT08.S4(NO2)
plt.subplot(2, 2, 4)  # Create a subplot (2 rows, 2 columns, subplot 4)
plt.scatter(df2['NO2(GT)'], df2['PT08.S4(NO2)'], alpha=0.5)
plt.xlabel('NO2(GT)')
plt.ylabel('PT08.S4(NO2)')
plt.title('NO2(GT) vs. PT08.S4(NO2)')

plt.tight_layout()  # Adjust the spacing between subplots
plt.show()  # Display the plots

In [ ]:
# Scatter plot of PT08.S1(CO) vs. PT08.S2(NMHC)
plt.subplot(2, 2, 2)  # Create a subplot (2 rows, 2 columns, subplot 2)
plt.scatter(df2['PT08.S1(CO)'], df2['PT08.S2(NMHC)'], alpha=0.5)
plt.xlabel('PT08.S1(CO)')
plt.ylabel('PT08.S2(NMHC)')
plt.title('PT08.S1(CO) vs. PT08.S2(NMHC)')

In [ ]:
# Box plot of NOx(GT)
plt.subplot(2, 2, 3)  # Create a subplot (2 rows, 2 columns, subplot 3)
plt.boxplot(df2['NOx(GT)'])
plt.xlabel('NOx(GT)')
plt.ylabel('Value')
plt.title('NOx(GT)')

In [ ]:
#8. Visualize the data using Python libraries matplotlib, seaborn by plotting the graphs for the Air quality and Heart Diseases data sets
#a. Data transformation 
#b. Error correcting
#c. Data model building

In [ ]:
import pandas as pd #Python library used for working with data sets
import numpy as np #Python library used for working with arrays
import seaborn as sn # library for making statistical graphics in Python
import random as rn 
import matplotlib.pyplot as mat #used to create 2D graphs and plots by using python scripts
from sklearn.model_selection import train_test_split 
from sklearn.naive_bayes import GaussianNB,MultinomialNB
from sklearn.metrics import accuracy_score

In [ ]:
DataFrame1=pd.read_csv('D:/dsbda basic/DSBDA-Final-Problem-Statements-main/PS8/heart.csv') #Read a comma-separated values (csv) file into DataFrame
DataFrame1

In [ ]:
DataFrame2=pd.read_csv('D:/dsbda basic/DSBDA-Final-Problem-Statements-main/PS8/AirQuality.csv',sep=';') #Read a comma-separated values (csv) file into DataFrame
DataFrame2

In [ ]:
DataFrame1.isna().sum().sum() #Detect missing values for an array-like object
#.sum() sums up the numbers in the list

In [ ]:
DataFrame1.loc[DataFrame1['sex']==1,'sex']='M' #Replacing 1 with M

In [ ]:
DataFrame1.loc[DataFrame1['sex']==0,'sex']='F' #Replacing 0 with F

In [ ]:
DataFrame1.head()

In [ ]:
from sklearn.preprocessing import LabelEncoder
labelencoder=LabelEncoder()
DataFrame1["sex"]=labelencoder.fit_transform(DataFrame1["sex"])
DataFrame1 #used to encode categorical variables into numerical labels that is transform

In [ ]:
#b.error correctiojn
DataFrame1[DataFrame1['ca']==4]

In [ ]:
DataFrame1.loc[DataFrame1['ca']==4,'ca']=np.NaN

In [ ]:
DataFrame1 = DataFrame1.fillna(DataFrame1.median())

In [ ]:
DataFrame1.isnull().sum()

In [ ]:
DataFrame1

In [ ]:
#c.model building
X_train, X_test, y_train, y_test = train_test_split(DataFrame1.iloc[:,:-1], DataFrame1.iloc[:,-1], test_size = 0.3, random_state = 0)

In [ ]:
X_train.shape, X_test.shape,y_train.shape

In [ ]:
gnb = GaussianNB()

In [ ]:
gnb.fit(X_train, y_train)
#fitting a Gaussian Naive Bayes (GNB) model on the training data

In [ ]:
y_pred = gnb.predict(X_test)
y_pred

In [ ]:
print('Model accuracy score: {0:0.4f}'. format(accuracy_score(y_test, y_pred)))

In [ ]:
import matplotlib.pyplot as plt
plt.figure(figsize=(10, 6))
plt.subplot(2, 2, 1)  # Create a subplot (2 rows, 2 columns, subplot 1)
plt.hist(DataFrame1['age'], bins=10, edgecolor='k')
plt.xlabel('Age')
plt.ylabel('Frequency')
plt.title('Age Distribution')
plt.show()

In [ ]:
# Bar plot of sex
plt.subplot(2, 2, 2)  # Create a subplot (2 rows, 2 columns, subplot 2)
sex_counts = DataFrame1['sex'].value_counts()
plt.bar(sex_counts.index, sex_counts.values)
plt.xlabel('Sex (0 = female, 1 = male)')
plt.ylabel('Count')
plt.title('Gender Distribution')

In [ ]:
# Scatter plot of age and cholesterol
plt.subplot(2, 2, 3)  # Create a subplot (2 rows, 2 columns, subplot 3)
plt.scatter(DataFrame1['age'], DataFrame1['chol'], alpha=0.5)
plt.xlabel('Age')
plt.ylabel('Cholesterol')
plt.title('Age vs. Cholesterol')

In [ ]:
plt.subplot(2,2,4)
plt.boxplot([DataFrame1[DataFrame1['target']==0]['trestbps'],
           DataFrame1[DataFrame1['target']==1]['trestbps']],
           labels=['No Disease','Disease'])
plt.xlabel('Disease')
plt.ylabel('Restng Blood Pressure')
plt.title('Resting Blood Pressure by Target')

plt.tight_layout()

In [ ]:
# Scatter plot of NOx(GT) vs. NO2(GT)
plt.subplot(2, 2, 2)  # Create a subplot (2 rows, 2 columns, subplot 2)
plt.scatter(DataFrame2['NOx(GT)'], DataFrame2['NO2(GT)'], alpha=0.5)
plt.xlabel('NOx(GT)')
plt.ylabel('NO2(GT)')
plt.title('NOx(GT) vs. NO2(GT)')

In [ ]:
# Scatter plot of NO2(GT) vs. PT08.S4(NO2)
plt.subplot(2, 2, 4)  # Create a subplot (2 rows, 2 columns, subplot 4)
plt.scatter(DataFrame2['NO2(GT)'], DataFrame2['PT08.S4(NO2)'], alpha=0.5)
plt.xlabel('NO2(GT)')
plt.ylabel('PT08.S4(NO2)')
plt.title('NO2(GT) vs. PT08.S4(NO2)')

plt.tight_layout()  # Adjust the spacing between subplots
plt.show()  # Display the plots

In [ ]:
# Scatter plot of PT08.S1(CO) vs. PT08.S2(NMHC)
plt.subplot(2, 2, 2)  # Create a subplot (2 rows, 2 columns, subplot 2)
plt.scatter(DataFrame2['PT08.S1(CO)'], DataFrame2['PT08.S2(NMHC)'], alpha=0.5)
plt.xlabel('PT08.S1(CO)')
plt.ylabel('PT08.S2(NMHC)')
plt.title('PT08.S1(CO) vs. PT08.S2(NMHC)')

In [ ]:
# Box plot of NOx(GT)
plt.subplot(2, 2, 3)  # Create a subplot (2 rows, 2 columns, subplot 3)
plt.boxplot(DataFrame2['NOx(GT)'])
plt.xlabel('NOx(GT)')
plt.ylabel('Value')
plt.title('NOx(GT)')